#define WIFI_SSID "<WiFi SSID>"
#define WIFI_PASS "<WiFi password>"
#define MQTT_SERVER "<HiveMQ MQTT URL>"
#define MQTT_USER "<HiveMQ MQTT username>"
#define MQTT_PASS "<HiveMQ MQTT password>"
#define MQTT_CLIENT_ID "IREXTENDER - Receiver"
